<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <link class="admin-icon" rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> <%= VITE_ADMIN_TITLE %></title>
    <style type="text/css">
        /*body{padding: 0; margin: 0; background-color: #f4f6f7;}*/
        .loading-svg{display: inline-block; animation: man 3s linear infinite;}
        @keyframes man {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        }
    </style>
</head>
<body style="padding: 0; margin: 0; background-color: #f4f6f7;">
<div id="app">
    <!-- 首屏加载动画 -->
    <div style="width: 100vw; height: 100vh; display: flex; align-items: center; ">
        <div style="flex: 1; text-align: center">
            <h1 style="font-size: 36px; color: #000"> <%= VITE_ADMIN_TITLE %> </h1>
            <div style="padding-top: 40px; padding-bottom: 100px;">
                <svg class="loading-svg" viewBox="0 0 1024 1024" width="60" height="60" xmlns="http://www.w3.org/2000/svg" data-v-ba633cb8="">
                    <path fill="#2d8cf0" d="M512 64a32 32 0 0 1 32 32v192a32 32 0 0 1-64 0V96a32 32 0 0 1 32-32zm0 640a32 32 0 0 1 32 32v192a32 32 0 1 1-64 0V736a32 32 0 0 1 32-32zm448-192a32 32 0 0 1-32 32H736a32 32 0 1 1 0-64h192a32 32 0 0 1 32 32zm-640 0a32 32 0 0 1-32 32H96a32 32 0 0 1 0-64h192a32 32 0 0 1 32 32zM195.2 195.2a32 32 0 0 1 45.248 0L376.32 331.008a32 32 0 0 1-45.248 45.248L195.2 240.448a32 32 0 0 1 0-45.248zm452.544 452.544a32 32 0 0 1 45.248 0L828.8 783.552a32 32 0 0 1-45.248 45.248L647.744 692.992a32 32 0 0 1 0-45.248zM828.8 195.264a32 32 0 0 1 0 45.184L692.992 376.32a32 32 0 0 1-45.248-45.248l135.808-135.808a32 32 0 0 1 45.248 0zm-452.544 452.48a32 32 0 0 1 0 45.248L240.448 828.8a32 32 0 0 1-45.248-45.248l135.808-135.808a32 32 0 0 1 45.248 0z"></path>
                </svg>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/src/main.js"></script>
<script type="text/javascript">
    // 火狐拖拽问题
    document.body.ondrop = function(event) {
        event.preventDefault();
        event.stopPropagation();
    };
</script>
</body>
</html>
